@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles of home page  */

.testimonial-slide {
  opacity: 0.1; /* Dim inactive slides */
  transition: opacity 0.5s;
}

.testimonial-slide.active {
  opacity: 1; /* Highlight active slide */
}

html {
  scroll-behavior: smooth;
}
